nav.site-navigation
  .hamburger-menu.d-lg-none
    span
    span
    span
    span
  ul
    li
      a(data-scroll, href='index.pug#slider-section') Home
    li
      a(data-scroll, href='index.pug#stats-section') About
    li
      a(data-scroll, href='index.pug#events-section') Workshops
    li
      a(data-scroll, href='index.pug#register') Register
    