mixin track(img, title, text)
	.card
		.icon-holder
			.overlay
			.circle
				img(src="./img/"+img alt="iedc summit track img")
		h3 #{title}
		p #{text}

mixin speaker(img, name, desig, company, bio)
	.speaker
		a
			img(src="./img/"+img alt="iedc summit speaker img")
		.descp
			h4 #{name}
			h5.desi #{desig}
			h5.com #{company}
		if(bio)
			.bio
				each item in bio||[]
					p= item

mixin event(date, month, place, location, link)
	.event-item
		a.event-inner(href=link target="_blank")
			.left
				h4 #{date}
				h4 #{month}
			.right
				h5 #{place}
				p #{location}

mixin partners(image)
	.partner-cover
		.partner-item
			.logo
				img(src="./img/"+image)
			//- h3 SU Tvm Chapter

mixin sched(time, item, speakers)
	.schedule-item
		.time #{time}
		.item #{item}
		if speakers
			.speakers
				each item,index in speakers
					.speaker-item
						if item['image']
							img(src='./img/'+item['image'])
						.descp
							h3= item["name"]
							h4= item["desi"]
						if(item['bio'])
							.bio
								each bio in item['bio']
									p= bio

		//- .description
		//- 	p #{desc}