@import "./mixins";
#slider-section {
  // height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // &::before{
  //   background-color: rgba(14, 8, 31, .8);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top:0;
  // }
  #info-container {
    position: absolute;
    color: white;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    // height: 100vh;
    width: 100%;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#about-section {
  img {
    border: 1px solid #ccc;
  }
}

#stats-section {
  .stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    .cell {
      flex: 0 0 80%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 0.1rem;
      box-sizing: border-box;
      transition: all .5s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      @include my_bp(sm) {
        flex: 0 0 30%;
      }
      &:before {
        content: '';
        display: table;
        padding-top: 100%;
      }
      .item {
        flex-grow: 1;
        background: linear-gradient(145deg, rgb(4, 178, 194) 0%, rgb(110, 238, 252) 100%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        div {
          &:nth-of-type(1) {
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
          &:nth-of-type(2) {
            height: 30%;
          }
          &:nth-of-type(3) {
            height: 30%;
          }
        }
        p {
          text-align: center;
          margin: 0px;
        }
        h1 {
          font-size: 5rem;
        }
        a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

#partners-section {
  #partners {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    .partner-cover {
      width: 50%;
      padding: 5px;
      cursor: pointer;
      position: relative;
      display: flex;
      @include my_bp(sm) {
        width: 16%;
      }
      .partner-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0px 0px 0px 0px;
        padding: 10px 5px 10px 5px;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: rgba(37, 37, 37, 0.35);
        border-radius: 5px 5px 5px 5px;
        background-color: #ffffff;
        transition: all .3s ease-in-out;
        &:hover {
          border-color: rgba(37, 37, 37, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.24);
          h3 {
            color: #00aef0;
          }
        }
        .logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
          }
        }
        h3 {
          font-family: 'Blinker', sans-serif;
          font-size: 20px;
          text-align: center;
          margin-top: 10px;
          transition: all .3s ease-in-out;
        }
      }
    }
  }
}

#tracks {
  .card {
    background: #fff;
    border: 0;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-out;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 400px;
    cursor: pointer;
    @include my_bp(sm) {
      max-width: 30%;
    }
    h3 {
      z-index: 10;
      padding-top: 20px;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      // color: #25274d;
      color: white;
      font-size: 1.6rem;
    }
    p {
      opacity: 1;
      transform: scale(1);
      font-weight: bold;
      transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      padding-top: 35px;
      text-align: left;
      color: #25274d;
      margin: 0;
    }
    // &:hover{
    //   h3{
    //     color: white;
    //     padding-top: 20px;
    //   }
    //   p{
    //     opacity: 1;
    //     transform: scale(1);
    //     // display: block;
    //   }
    //   .icon-holder{
    //     margin-top: 0px;
    //     .overlay{
    //       transform: scale(3.6) translateZ(0) translateY(-20px);
    //     }
    //     .circle{
    //       border: 2px solid white;
    //       img{
    //         background: white;
    //       }
    //     }
    //   }
    // }
    .icon-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      transition: all 0.3s ease;
      .overlay {
        // background: #6441A5;
        // background: radial-gradient(circle at 50% 50%, #6441A5 0%, #2a0845 100%);
        // background: radial-gradient(circle at 50% 65%, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
        background: radial-gradient(circle at 50% 65%, rgb(110, 238, 252) 0%, rgba(0, 212, 255, 1) 35%, rgb(4, 178, 194) 100%);
        transform: scale(3.6) translateZ(0) translateY(-20px);
        height: 130px;
        width: 130px;
        position: absolute;
        border-radius: 50%;
        transition: transform 0.3s ease-out;
      }
      .circle {
        // border: 2px solid #25274d;
        border: 2px solid white;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: all 0.3s ease-out;
        img {
          // background: #6441A5;
          // background: radial-gradient(circle at 50% 50%, rgb(170, 128, 248) 0%, #6441A5 100%);
          background: white;
          border-radius: 50%;
          width: 130px;
          height: 130px;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}

#speaker-section {
  .speaker-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    .speaker {
      width: 50%;
      margin-top: 50px;
      @include my_bp(sm) {
        width: 25%;
      }
      img {
        width: 160px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 1px 1px 5px #666;
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          padding: 2px;
          transform: translateY(-5px);
        }
      }
      .bio {
        display: none;
      }
      .descp {
        padding-top: 10px;
        h4 {
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;
        }
        h5 {
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin: 0;
        }
      }
    }
  }
}

#events-section {
  .events {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @include my_bp(sm) {
      flex-direction: row;
    }
    .event-item {
      width: 100%;
      @include my_bp(sm) {
        width: 50%
      }
      .event-inner {
        margin: 10px;
        display: flex;
        box-shadow: 0px 0px 16px rgba(200, 200, 200, .4);
        color: black;
        transition: all .5s ease;
        &:hover {
          text-decoration: none;
          transform: translateX(5px);
        }
        .left {
          width: 25%;
          min-height: 120px;
          text-align: center;
          padding: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: rgba(0, 212, 255, 1);
          color: white;
          h4 {
            font-size: 18px;
            @include my_bp(sm) {
              font-size: 24px;
            }
          }
        }
        .right {
          width: 75%;
          padding: 10px;
        }
      }
    }
  }
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal {
  p {
    text-align: justify;
  }
  .content {
    padding-right: 30px;
  }
  .speaker-item {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 150px;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 100px;
      border-radius: 50%;
      box-shadow: 2px 2px 0px #00aef0;
    }
    .descp {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }
      h4 {
        font-size: 14px;
        font-family: 'Blinker', sans-serif;
        font-weight: normal;
        margin: 0;
        text-align: center;
      }
    }
    .bio {
      display: none;
    }
  }
}