@import "./mixins";
#slider-section {
  // height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // &::before{
  //   background-color: rgba(14, 8, 31, .8);
  //   content: " ";
  //   width: 100%;
  //   height: 100vh;
  //   position: absolute;
  //   left: 0;
  //   top:0;
  // }
  #info-container {
    position: absolute;
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 60px;
      @include my_bp(sm) {
        font-size: 80px;
      }
    }
  }
  img.slide {
    // height: 100vh;
    width: 100%;
    @include my_bp(sm) {
      height: auto;
      width: 100vw;
    }
  }
}

#stats-section {
  .stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    .cell {
      flex: 0 0 80%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      padding: 0.1rem;
      box-sizing: border-box;
      transition: all .5s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
      @include my_bp(sm) {
        flex: 0 0 20%;
      }
      &:before {
        content: '';
        display: table;
        padding-top: 100%;
      }
      .item {
        flex-grow: 1;
        background: linear-gradient(145deg, rgb(4, 178, 194) 0%, rgb(110, 238, 252) 100%);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        div {
          &:nth-of-type(1) {
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
          &:nth-of-type(2) {
            height: 30%;
          }
        }
        p {
          text-align: center;
          margin: 0px;
        }
        h1 {
          font-size: 5rem;
        }
        a {
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

#gallery-section {
  padding: 50px 30px;
  background-color: #222;
  label[for] {
    cursor: pointer;
  }
  input[type="checkbox"] {
    display: none;
  }
  h1 {
    color: white;
  }
  .lightbox {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index: 1;
    overflow: auto;
    transform: scale(0);
    transition: transform .75s ease-out;
    img {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 96%;
      max-height: 96%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
  input[type="checkbox"] {
    &:checked {
      &+.lightbox {
        transform: scale(1);
      }
      &~.grid {
        opacity: .25;
      }
    }
  }
  .grid {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #222;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding: 16px;
    overflow: auto;
    text-align: center;
    transition: opacity .75s;
    .grid-item {
      width: 100%;
      display: inline-block;
      padding: 16px;
      opacity: .6;
      transition: opacity .5s;
      &:hover {
        opacity: 1;
      }
      @include my_bp(sm) {
        width: 50%;
      }
      @include my_bp(lg) {
        width: 25%;
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    }
  }
}

#speaker-section {
  .speaker-list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    .speaker {
      width: 50%;
      margin-top: 50px;
      @include my_bp(sm) {
        width: 25%;
      }
      img {
        width: 160px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 1px 1px 5px #666;
        cursor: pointer;
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        &:hover {
          padding: 2px;
          transform: translateY(-5px);
        }
      }
      .descp {
        padding-top: 10px;
        h4 {
          font-size: 18px;
          font-family: 'Blinker', sans-serif;
          font-weight: bold;
        }
        h5 {
          font-size: 14px;
          font-family: 'Blinker', sans-serif;
          margin: 0;
        }
      }
    }
  }
}

#schedule-section {
  .schedule {
    position: relative;
    &:not(:first-of-type) {
      margin-top: 40px;
    }
    h3 {
      font-family: 'Raleway', sans-serif;
      font-size: 18px;
      font-weight: bolder;
      margin-bottom: 20px;
    }
    &.expanded {
      .schedule-item {
        border-bottom: 2px solid rgba(0, 0, 0, .1);
        padding: 15px 10px;
      }
    }
    &.venued {
      .schedule-item {
        @include my_bp(sm) {
          margin-left: 160px;
        }
        .time {
          width: 100%;
          @include my_bp(sm) {
            width: 140px;
            padding-top: 0;
          }
        }
      }
    }
    &.single {
      .schedule-item {
        margin-left: 0px;
        border-left: 0;
      }
    }
    .schedule-item {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
      padding: 10px 10px;
      font-family: 'Blinker', sans-serif;
      @include my_bp(sm) {
        margin-left: 100px;
        border-left: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 0;
      }
      .item {
        display: inline-block;
        padding: 5px 8px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-bottom: 10px;
        margin-right: 10px;
        a {
          color: #111;
        }
      }
      .time {
        margin-bottom: 10px;
        color: #333;
        @include my_bp(sm) {
          position: absolute;
          left: 30px;
          padding-top: 5px;
        }
      }
      .description {
        border-bottom: 1px solid rgba(200, 200, 200, .25);
        p {
          font-family: 'Blinker', sans-serif;
          margin-bottom: 5px;
        }
        h4 {
          font-size: 16px;
          font-weight: bolder;
        }
      }
      .speakers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 0px;
        border-bottom: 1px solid rgba(200, 200, 200, .25);
        margin-bottom: 10px;
        .speaker-item {
          display: flex;
          align-items: center;
          margin: 10px;
          width: 150px;
          flex-direction: column;
          cursor: pointer;
          img {
            width: 100px;
            border-radius: 50%;
            box-shadow: 2px 2px 0px #00aef0;
          }
          .descp {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
              font-size: 14px;
              margin-top: 5px;
              margin-bottom: 5px;
              text-align: center;
            }
            h4 {
              font-size: 14px;
              font-family: 'Blinker', sans-serif;
              font-weight: normal;
              margin: 0;
              text-align: center;
            }
          }
          .bio {
            display: none;
          }
        }
      }
      .details {
        padding-left: 20px;
        font-size: 14px;
        p {
          font-family: 'Blinker', sans-serif;
          font-size: 14px;
          margin: 0;
        }
        .tag {
          a {
            padding-left: 25px;
            &:before {
              position: absolute;
              content: " ";
              width: 21px;
              height: 21px;
              border-radius: 50%;
              box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
              margin-left: -25px;
            }
          }
        }
      }
    }
  }
}

#apply {
  .button {
    width: 250px;
    margin: 25px auto 0;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #2a24c2;
    color: #2a24c2;
    transition: all .3s ease-in;
    text-align: center;
    &:hover {
      text-decoration: none;
      background: #2a24c2;
      color: #fff;
    }
  }
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal {
  p {
    text-align: justify;
  }
  .content {
    padding-right: 30px;
  }
  .speaker-item {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 150px;
    flex-direction: column;
    cursor: pointer;
    img {
      width: 100px;
      border-radius: 50%;
      box-shadow: 2px 2px 0px #00aef0;
    }
    .descp {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
      }
      h4 {
        font-size: 14px;
        font-family: 'Blinker', sans-serif;
        font-weight: normal;
        margin: 0;
        text-align: center;
      }
    }
    .bio {
      display: none;
    }
  }
}