doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/page.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    section#slider-section
      img.slide(src="./img/bg-page.png")
      .container#info-container
        .row
          .col-sm-12
            h2 Hyderabad

    section.section-content#stats-section
      .container
        .row
          .col-12
            h2.text-center WING workshop for aspiring women entrepreneurs 
            h3.text-center @ WE HUB, Hyderabad
            h4.text-center 19th and 20th February 2020

    section.pb-5
      .container
        .row.justify-content-center
          .col-sm-6.text-center
            img.img-fluid(src="./img/sched4.jpg")
          .col-sm-6.text-center
            img.img-fluid(src="./img/spk4.jpg")
    
    section#gallery-section
      h1.text-center Gallery
      input#pic-1(type='checkbox')
      label.lightbox(for='pic-1')
        img(src='./img/gallery/hyd/image3.jpg')
      input#pic-2(type='checkbox')
      label.lightbox(for='pic-2')
        img(src='./img/gallery/hyd/image5.jpg')
      input#pic-3(type='checkbox')
      label.lightbox(for='pic-3')
        img(src='./img/gallery/hyd/image29.jpg')
      input#pic-4(type='checkbox')
      label.lightbox(for='pic-4')
        img(src='./img/gallery/hyd/image42.jpg')
      input#pic-5(type='checkbox')
      label.lightbox(for='pic-5')
        img(src='./img/gallery/hyd/image44.jpg')
      .grid
        label.grid-item(for='pic-1')
          img(src='./img/gallery/hyd/image3.jpg')
        label.grid-item(for='pic-2')
          img(src='./img/gallery/hyd/image5.jpg')
        label.grid-item(for='pic-3')
          img(src='./img/gallery/hyd/image29.jpg')
        label.grid-item(for='pic-4')
          img(src='./img/gallery/hyd/image42.jpg')
        label.grid-item(for='pic-5')
          img(src='./img/gallery/hyd/image44.jpg')


    //- section#speaker-section.section-content
    //-   .container
    //-     h1.pb-3.text-center Sessions & Speakers
    //-     .speaker-list
    //-       +speaker('shameela.jpg', "Shameela Nafih", "Finances for a Bootstrapped Startup", "Co-Founder & Chief Cash Officer, MEAL'D")
    //-       +speaker('anwin.jpg', "Adv. Anwin Gopakumar", "Protecting IP for Startups", "IP Attorney, Veritae Legal")
    //-       +speaker('nisha.jpg', "Nisha Krishnan", "Chat with Women Entrepreneur", "Founder, Channel I'm")
    //-       +speaker('anu.jpg', "Anu Juneo", "Insights on Marketing", "Digital marketing Expert & Founder, Contentry Solutions")
    //-       +speaker('sib.jpg', "Sony A", "Banking for Startups", "Joint General Manager, South Indian Bank")
    //-       +speaker('dp.jpg', "Viju Varghese", "Legal and Compliances for Startups", "Company Secretary")
    //-       +speaker('jijo.jpg', "Jijo Paul", "Idea to Prototype", "Founder, Resnova Technologies")
    //-       +speaker('sijo.jpg', "Sijo Kuruvilla George", "Interaction", "Founder Startup Village & Partner, Lets Venture")
    //-       +speaker('dhanaj1.png', "Dhanaj KM", "Ideation workshop", "Manager - Accelerators")
    //-       +speaker('tom.jpg', 'Tom Thomas', "About WING Program", "Project Director - KSUM")
    

    //- section.section-content
    //-   .container
    //-     .row
    //-       .col-12.text-center 
    //-         h1.text-center.pb-3 Winner of the workshop
    //-         p
    //-           strong Annsana Baby &  Jefin Paul
    //-         p Find Your Way
            //- p.text-justify Arunima C Rajan, founder of Tiny Terrarium, an indoor decor startup, was adjudged the Most Promising Aspiring Woman Entrepreneur of the 2-day WING workshop in Thrissur. Rajan works from home and has served over 900 orders along with supporting five retail stores in her locality of Wayanad, Kerala. She also trains people in indoor gardening and helps them find livelihood in the business of creating terrariums.



    
    
    //- section#gallery-section
    //-   h1.text-center Social Media
    //-   input#soc-1(type='checkbox')
    //-   label.lightbox(for='soc-1')
    //-     img(src='./img/social/social_1.jpg')
    //-   input#soc-2(type='checkbox')
    //-   label.lightbox(for='soc-2')
    //-     img(src='./img/social/social_2.jpg')
    //-   input#soc-4(type='checkbox')
    //-   label.lightbox(for='soc-4')
    //-     img(src='./img/social/social_4.jpg')
    //-   input#soc-5(type='checkbox')
    //-   label.lightbox(for='soc-5')
    //-     img(src='./img/social/social_5.jpg')
    //-   input#soc-7(type='checkbox')
    //-   label.lightbox(for='soc-7')
    //-     img(src='./img/social/social_7.jpg')
    //-   input#soc-3(type='checkbox')
    //-   label.lightbox(for='soc-3')
    //-     img(src='./img/social/social_3.jpg')
    //-   .grid
    //-     label.grid-item(for='soc-1')
    //-       img(src='./img/social/social_1_thumb.jpg')
    //-     label.grid-item(for='soc-2')
    //-       img(src='./img/social/social_2_thumb.jpg')
    //-     label.grid-item(for='soc-4')
    //-       img(src='./img/social/social_4_thumb.jpg')
    //-     label.grid-item(for='soc-5')
    //-       img(src='./img/social/social_5_thumb.jpg')
    //-     label.grid-item(for='soc-7')
    //-       img(src='./img/social/social_7_thumb.jpg')
    //-     label.grid-item(for='soc-3')
    //-       img(src='./img/social/social_3_thumb.jpg')
  
    section.section-content
      .container
        .row
          .col-12
            h1.text-center.pb-3 Social Media
        .row
          .col-6
            img.img-fluid(src="./img/image53.png")
          //- .col-4
          //-   img.img-fluid(src="./img/image45.png")
          //- .col-4
          //-   img.img-fluid(src="./img/image54.png")

    //- .modal.fade#bio-modal(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
    //-   .modal-dialog.modal-lg.modal-dialog-centered
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button' data-dismiss='modal' aria-label='Close')
    //-           span(aria-hidden='true') &times;
    //-       .modal-body
    //-         .row
    //-           .col-sm-3
    //-             .speaker-item
    //-               img(src='')
    //-               .descp
    //-                 h3 
    //-                 h4 
    //-           .col-sm-9.content
            
          

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/page.js")