doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/home.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    a.buttonDownload(onclick="a('event', 'install', {'event_category': 'Install','event_label': 'PWA Install'});") Install

    section#slider-section
      img.slide(src="./img/bg3.jpg")
      .container#info-container
        .row
          .col-sm-12
            h2 Wing Women Rise Together
          
    section#partners-section.section-content
      .container          
        #partners
          +partners("dpiit.jpg")
          +partners("startup-india.jpg")
          +partners("invest-india.jpg")
          +partners("ksum.jpg")
          +partners("letsventure.jpg")
          +partners("open-delta.png")


    section#about-section
      .container
        .row
          .col-sm-12
            p.text-justify Over the last few years, India has established itself as one of the top startup ecosystems around the world. However, even today, women constitute only 13.76% of the total entrepreneurs in India. Realising the impact of mobilising the untapped aptitude of women entrepreneurs in the country, Startup India initiative of Department for Promotion of Industry and Internal Trade, Govt. of India, has designed a unique program called WING- Women Rise Together, to identify, support, and celebrate women entrepreneurs in India. This program rolled out in partnership with Kerala Startup Mission and Let's Venture in South India, aims to support women entrepreneurs through workshops and access to incubation, investors and various business support services.
          
            

        .row
          .col-sm-6.text-center.d-flex.flex-column.justify-content-center
            img.img-fluid(src="./img/launch.png")
            h5.mt-3 Launched in Kerala by 
            h4.m-0 Shri. Pinarayi Vijayan
            h5 Honourable Chief Minister
            h5 Govt. of Kerala
            h5 on 28 September 2019, at Trivandrum
            //- p Along with 
            //- p.m-0 Shri. Anil Agrawal – Joint Secretary, DPIIT, GoI
            //- p.m-0 Shri. M Sivasankar – Secretary IT Dept., GoK, &
            //- p Shri. Jitendar Minhas, CEO IAMAI
          .col-sm-6.text-center.d-flex.flex-column
            img.img-fluid(src="./img/launch1.jpg")
            h5.mt-3 Launched in Telangana by 
            h4.m-0 Shri. KT Rama Rao
            h5 Honourable Minister for IT, Industries and MA & UD
            h5 Govt. of Telangana
            h5 on 19 December 2019, at Hyderabad
            //- p Along with 
            //- p.m-0 Shri. Anil Agrawal – Joint Secretary, DPIIT, GoI
            //- p.m-0 Shri. M Sivasankar – Secretary IT Dept., GoK, &
            //- p Shri. Jitendar Minhas, CEO IAMAI
          //- .col-sm-6.text-center.d-flex.flex-column.justify-content-center.align-items-center
          //-   img.img-fluid(src="./img/map.png", alt="map" style="max-height: 550px;")
            

    


    section#tracks.section-content
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center WHAT WE HAVE FOR YOU?
            .card-deck.pt-5.justify-content-center
              +track('comunity.png', "Community", "A bolstering community of aspiring and established women entrepreneurs for peer-to-peer collaboration, knowledge sharing and continuous support.")
              +track('knowledge.png', "Knowledge", "Workshops centred around the cornerstones of starting up – legal, IP, marketing, funding – and more, led by seasoned stakeholders from the  ecosystem. ")
              +track('icon_community.png', "Facilitation", "Exceptional opportunities for incubation, mentorship, cloud services, global connect and investor meets – underpinning purpose, impact and growth. ")

    section#events-section
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center Upcoming Workshops
          .events
            +event("28 & 29", "Aug 2020", "Online Workshop 2", "Karnataka")
            +event("04 & 05", "Sep 2020", "Online Workshop 3", "Karnataka")
          
            //- +event("15 & 16", "Nov 2019", "Mobile10X, Cyberpark", "Calicut")
        .row
          .col-sm-12
            h1.pb-3.pt-5.text-center Past Workshops
          .events
            +event("18 & 19", "Aug 2020", "Online Workshop 1", "Karnataka", 'karnataka-online-1.pug')
            +event("06 & 07", "Mar 2020", "Acharya Institute of Technology", "Bengaluru", 'acharya.pug')
            +event("19 & 20", "Feb 2020", "WE Hub", "Hyderabad", "hydrabad.pug")
            +event("13 & 14", "Feb 2020", "Muthoot Institute Technology & Science", "Puthenkurish", 'puthenkurish.pug')
            +event("06 & 07", "Feb 2020", "TocH Institute of Science & Technology", "Piravom", 'piravom.pug')
            +event("31st Jan", "& 1st Feb", "Integrated Startup Complex, Kerala Startup Mission, Kinfra Park", "Kochi", 'kochiisc1.pug')
            +event("7 & 8", "Nov 2019", "Integrated Startup Complex, Kerala Startup Mission, Kinfra Park", "Kochi", "kochiisc.pug")
            +event("18 & 19", "Oct 2019", "Sahrdaya College of Engineering And Technology", "Thrissur", "thrissur.pug")

    section#benefits.pt-5
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center Post Event Incentives
        .row
          .col-sm-6
            ul
              li Incubation offers
              li One-on-one mentoring sessions
              li Discounted business services
              li Cloud/software credits
          .col-sm-6
            ul
              li Access to corporates and govt departments as early adopters
              li Opportunity to pitch to investors
              li Opportunity to participate in international exposure programs

    section#speaker-section.section-content
      .container
        h1.pb-3.text-center Speakers & Mentors
        .speaker-list
          +speaker('sijo.jpg', "Sijo Kuruvilla George",'Startup Mentor','Project Consultant, WING',[ "Sijo Kuruvilla George is the Founding CEO of Startup Village, the country’s first Public Private Partnership Technology Business Incubator, which brought entrepreneurship and startups to widespread public discourse in the state of Kerala.", "A major figure in the advancement of student entrepreneurship, Kuruvilla was instrumental in conceptualisation and advocacy of the Student Entrepreneurship Policy. He also served as a consultant to Kerala Startup Mission, the nodal agency for implementing the Kerala Technology Startup Policy. In recognition of his contributions, he was invited to the first cohort of Rajeev Circle Fellowships by Motwani Jadeja Family Foundation and the International Visitor Leadership Forum (IVLP), prestigious professional exchange program of the Department of State, USA. At present, Kuruvilla is involved in building the non profit Rethink Foundation. His interest lies at the intersection of technology, education and policy." ] )
          +speaker('tom.jpg', 'Tom Thomas', 'Project Director', 'KSUM')
          +speaker('jijo.jpg', "Jijo Paul",'CEO','Resnova Technologies Pvt. Ltd.',["Jijo Paul is a startup entrepreneur based in Kochi, Kerala. He completed his master’s in electrical engineering, and currently serves as the CEO of Resnova Technologies.", "Paul has been recognized at various national and international forums for his achievements in the areas of robotics, electronics and innovations. Being a hardcore techie, he and his company focus on solving the problems of the common man especially in agriculture and industry, with the aid of cutting-edge technology.", "Dairy management system for detecting diseases in cattle, and detection system for Red Palm Weevil infestation in coconut trees are some of his noteworthy projects.", "His main areas of interest are the Internet of Things (IoT), Technology in Agriculture, and Robotics."])
          +speaker('anu.jpg', "Anu Juneo",'Founder','Contentry Solutions',[ "Anu Juneo – with over 8 years of expertise, first as a software developer and later as a technical writer – is the founder of Contentry Solutions, a one-of-a-kind technology services writing solutions in India.", "Unlike other content writing firms, Juneo has introduced pure technology writing for software firms and banks that involve 100% technically spawned content, API documentation, and more.", "API documentation for software firms and banks, which Juneo writes for makes it easy for freshers who are newly placed in those organisations to learn, understand, and create code. This includes API documentation for Federal bank, and blogs and articles for prominent software companies like Fingent Technologies, Suyati Technologies, and Xakbox Digital, to name a few.", "Juneo also occasionally writes for the Hindu ." ])
          +speaker('shameela.jpg', "Shameela Nafih",'CFO and Co-Founder',"MEAL’D",[ "Shameela Nafih is a finance and HR professional with a Masters in Commerce and Business Administration, and an HRM Certification from the Cambridge University.", "After over 12 years of professional experience in Dubai she moved to Kerala in 2017, and resumed her career in an IT firm.", "Nafih started her entrepreneurial journey in January 2018 in Kochi, Kerala. She currently serves as the CFO & Co-founder of MEAL'D." ])
          +speaker('dhanaj1.png', "Dhanaj KM",'Acceleration Manager','KSUM',["Dhanaj is an electrical engineer by training and a development practitioner by profession, with an avid interest in travel. His passion lies in designing technological interventions and articulating developmental paradigms with a writer's touch. Lately he has been working on challenges related to bridging the disparity inherent in the various strata of the society, meanwhile learning the invaluable virtues of humility and hospitality that life in rural India invariably teaches one." ])
          +speaker('nisha.jpg', "Nisha Krishnan",'Founder','Channeliam.com',[ "Founder of Channeliam.com, Nisha Krishnan is a young broadcast journalist from Kerala. Over the last 17 years in her career, she has ventured into almost all areas of television journalism including being the head of news management, being a news editor, anchoring, video production, reporting and beyond. A recipient of many awards and accolades, Krishnan has recently been selected as a participant in the Alumni Thematic International Exchange Seminar (Alumni TIES) organized by the Bureau of Educational and Cultural Affairs, US Department of State and World Learning on the topic of ‘Women in Media: Creating Networks for Social Change’, to be held at Almaty, Kazakhstan in November 2019. She is by far one of the most dedicated and popular television women journalists in South India." ])
          +speaker('anwin.jpg', "Adv. Anwin Gopakumar",'Founding Partner','Veritae Legal',["Adv Anwin Gopakumar spearheads Corporate Transactional Practice in the firm - setting up businesses in India; Intellectual Property Rights & Cyber Law - Prosecution & Enforcement; Patent Filing in the US, Europe & India as well as PCT worldwide filing; Worldwide Trademark Registration; Copyright Protection for Motion Pictures & Computer Software including mobile applications; and Copyright, Patent & Trademark Infringement claims in India."])
          +speaker( "vivek.jpg", "Vivek Vijayan", "Pacificao Corporate Solutions")
          +speaker( "jose.jpg", "Jose George", "Company Secretary")
          +speaker("meera.jpg","Meera Radhakrishnan", "Program Manager, NUMA Bangalore")
          +speaker("murug.jpg","Muruganantham Senthilrajan", "COO & Patent Agent, Metayage IP Consulting")
          +speaker("lijo.jpg","Lijoe Simon", "Manager, HDFC Bank")
          +speaker("jofin.jpg","Jofin Joseph", "Full Contact Inc")
          +speaker("image22.png","GLORIA BENNY", "CO - FOUNDER, GUARDIANS OF DREAMS")
          +speaker("image58.png","DIVYA DHARMARAJAN", "MANAGING PARTNER, JPKAD & ASSOCIATES")
          +speaker("image36.png","AMBIKA VARMA", "PARTNER, RAJAN ASSOCIATES")
          +speaker("image57.png","VISHNU MS", "CO- FOUNDER, EVELABS")
          +speaker("image17.png","PRASAD BALAKRISHNAN", "CEO, MAKER VILLAGE")
          +speaker("image13.png","MIKHAIL ZENCHENKOV", "HEAD OF PROGRAM, BRINC")
          +speaker("image11.png","JITHIN SREEDHAR", "COMMUNITY MANAGEMENT SOLUTIONS, MYGATE")
          +speaker("image24.png","SARATH CHAND", "HEAD OF GROWTH, ENTRI.ME")
          +speaker("image19.png","POORNIMA VISWANATHAN", "CEO & FOUNDER, JOBVENO.COM")
          +speaker("image28.png","JOSEPH BABU", "CO - FOUNDER, RIAFY TECHNOLOGIES")
          +speaker("image49.png","AJAYKRISHNAN C", "PARTNER, RAJAN ASSOCIATES")
          +speaker("image51.png","NARAYANAN V R", "OPERATIONS AND SMD HEAD, MAKER VILLAGE")
          +speaker("image20.png","JIBIN JOSE", "CEO & CO - FOUNDER, FLIPMOTION TECHNOLOGIES")
          +speaker("image32.png","RAHUL R PILLAI", "CO - FOUNDER, DOPTALE INTERACTIVE")
          +speaker("image56.png","NASIF N M", "ASSISTANT MANAGER, KSUM")
          +speaker("image63.png","SALEEH K" , "CEO & CO - FOUNDER, APPMAKER.XYZ")
          +speaker("image21.png","VANI DIVI" , "HEAD OF OPERATION, METAYAGE IN HYDERABAD")
          +speaker("image59.png","M S RAJAMBAL" , "PARTNER, M S RAJAMBAL & Co")
          +speaker("image9.png","SAHITHYA RAJ" , "FOUNDER, SWEETOOTH")
          +speaker("image2.png","KK JAIN" , "FOUNDER AT ANYTIMELOAN & EMPERIFY.COM")
          +speaker("image48.png","B BHAVANI RAJ" , "PARTNER, R&A ASSOCIATES")
          +speaker("parul.jpeg","PARUL AGHI" , "CO - FOUNDER & COO, AEROLOGIKS")
          +speaker("kavya.jpeg","KAVYA PANKAJ" , "ASSOCIATE, SPICE ROUTE LEGAL")
          +speaker("ranjani.jpeg","RANJANI M" , "CORPORATE LAWYER & COMPANY SECRETARY, SPICE ROUTE BUSINESS")
          +speaker("jabber.jpeg","JUHAIM IBNU ABDUL JABBAR" , "HEAD OF OPERATIONS, BLUARMOR")
          +speaker("girish.jpeg","GIRISH SAMPATH" , "BUSINESS ANALYST, SOBUS INSIGHT FORUM")
          +speaker("vidhya.jpeg","VIDYA BHASKAR NANDIYAL" , "VICE PRESIDENT, IPEXCEL")
          
          +speaker("manya.jpeg","MANYA MADAN" , "CO-FOUNDER, ZOCONUT")
          +speaker("sreeram.jpeg","SRIRAM CHIDAMBARAM" , "FOUNDER AND CEO, SPICE ROUTE FINANCE")
          +speaker("manisha.jpeg","MANISHA PAYGUDE" , "TEAM LEAD - COMPLIANCE, SPICE ROUTE BUSINESS")
          +speaker("purusho.jpeg","PURUSHOTHAM KITTANE" , "ASSOCIATE, SPICE ROUTE LEGAL")
          +speaker("samvid.jpeg","SAMVID SHETTY" , "ASSOCIATE, SPICE ROUTE LEGAL")
          +speaker("saurab.jpeg","SAURABH ROY" , "ASSOCIATE, SPICE ROUTE LEGAL")

    section#event-partners
      .container
        .row
          .col-sm-12
            h1.text-center Partners
          
        .row.pt-3.justify-content-center
          .col-sm-3.text-center
            h5 State Partner - Kerala
            img.img-fluid(src="img/kl.jpg", alt="")
          .col-sm-3.text-center
            h5 State Partner - Telangana
            img.img-fluid(src="img/tl.jpg", alt="")
            
        .row.pt-5.justify-content-center
          .col-sm-12
            h5.text-center Ecosystem Partners
          .col-sm-6
            img.img-fluid(src="./img/partner2.jpg")
          .col-sm-6
            img.img-fluid(src="./img/partner1.jpg")
          .col-sm-8
            img.img-fluid(src="./img/partners - 3.png")

    .modal.fade#bio-modal(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .row
              .col-sm-3
                .speaker-item
                  img(src='')
                  .descp
                    h3 
                    h4 
              .col-sm-9.content

    section#register.section-content.pb-0(style="line-height: 0;")
      iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSdFaodZKarMxvraNxqnk-LKTOQT0BxhH0PnLOjYF9I_syWWzw/viewform?embedded=true' width='100%' height='2200' frameborder='0' marginheight='0' marginwidth='0') Loading&mldr;

    
    section.section-content

    
    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/home.js")
    script. 
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
      }   
