doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/page.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    section#slider-section
      img.slide(src="./img/bg-page.png")
      .container#info-container
        .row
          .col-sm-12
            h2 Kochi

    section.section-content#stats-section
      .container
        .row
          .col-12
            h2.text-center WING workshop for aspiring women entrepreneurs 
            h3.text-center @ Integrated Startup Complex, Kerala Startup Mission,  Kalamassery
            h4.text-center 1st and 2nd November 2019

    section#schedule-section
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center Sessions
        .row
          .col-sm-6
            .schedule
              h3 01st November 2019
              +sched("09:00 AM", "Inception")
              +sched("09:30 AM", "Founder Talk")
              +sched("10:15 AM", "Legal and Compliance")
              +sched("10:45 AM", "Banking and Accounting")
              +sched("11:45 AM", "Founder Talk")
              +sched("12:30 PM", "Office Hours")
              +sched("14:00 PM", "Ideation Workshop")
          .col-sm-6
            .schedule
              h3 02nd November 2019
              +sched("09:00 AM", "Marketing/ Market access")
              +sched("10:00 AM", "Intellectual Property")
              +sched("10:30 AM", "Fundraising/Pitching/Success")
              +sched("11:30 AM", "Office Hours")
              +sched("12:00 PM", "Pitching")
              +sched("14:00 PM", "Way Forward")
              +sched("14:30 PM", "Wrap Up")

      section.section-content#apply
        .container
          .row
            a.button(target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfEwne5PTCClLH7T2ObVooYjG_7o4APTiG-hMjjM2T20HdV6g/viewform") Intrested

    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")
