doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/page.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    section#slider-section
      img.slide(src="./img/bg-page.png")
      .container#info-container
        .row
          .col-sm-12
            h2 Kochi

    section.section-content#stats-section
      .container
        .row
          .col-12
            h2.text-center WING workshop for aspiring women entrepreneurs 
            h3.text-center @ Integrated Startup Complex, Kerala Startup Mission, Kinfra Park, Kochi
            h4.text-center 7th and 8th November 2019
        .row
          .stats
            .cell
              .item
                div
                  h1 115
                div
                  p Interest Received
            .cell
              .item
                div
                  h1 73
                div
                  p Applications
            .cell
              .item
                div
                  h1 58
                div
                  p Attendees

    section#schedule-section.section-content
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center Sessions & Speakers
        .row
          .col-sm-6
            .schedule
              h3 7th November 2019
              +sched("10:00 AM", "Founder Talk", [{"image":'shameela.jpg', "name":"Shameela Nafih", "desi":"Co-Founder & Chief Cash Officer, MEAL'D", 'bio': [ "Shameela Nafih is a finance and HR professional with a Masters in Commerce and Business Administration, and an HRM Certification from the Cambridge University.", "After over 12 years of professional experience in Dubai she moved to Kerala in 2017, and resumed her career in an IT firm.", "Nafih started her entrepreneurial journey in January 2018 in Kochi, Kerala. She currently serves as the CFO & Co-founder of MEAL'D." ]}])
              +sched("11:15 AM", "Marketing 101", [{"image": "nisha.jpg","name":"Nisha Krishnan", "desi":"CEO, Channel I'm", "bio": [ "Founder of Channeliam.com, Nisha Krishnan is a young broadcast journalist from Kerala. Over the last 17 years in her career, she has ventured into almost all areas of television journalism including being the head of news management, being a news editor, anchoring, video production, reporting and beyond. A recipient of many awards and accolades, Krishnan has recently been selected as a participant in the Alumni Thematic International Exchange Seminar (Alumni TIES) organized by the Bureau of Educational and Cultural Affairs, US Department of State and World Learning on the topic of ‘Women in Media: Creating Networks for Social Change’, to be held at Almaty, Kazakhstan in November 2019. She is by far one of the most dedicated and popular television women journalists in South India." ] }])
              +sched("12:30 PM", "Company Law", [{"image": "vivek.jpg", "name":"Vivek Vijayan", "desi":"Pacificao Corporate Solutions"}])
              +sched("02:00 PM", "Compliance", [{"image": "jose.jpg", "name":"Jose George", "desi":"Company Secretary"}])
              +sched("03:00 PM", "Ideation Workshop", [{"image":'dhanaj1.png',"name":"Dhanaj KM", "desi":"Manager - Accelerators, KSUM", "bio": ["Dhanaj is an electrical engineer by training and a development practitioner by profession, with an avid interest in travel. His passion lies in designing technological interventions and articulating developmental paradigms with a writer's touch. Lately he has been working on challenges related to bridging the disparity inherent in the various strata of the society, meanwhile learning the invaluable virtues of humility and hospitality that life in rural India invariably teaches one." ]}])



              
          .col-sm-6
            .schedule
              h3 8th November 2019
              +sched("10:00 AM", "Startup Ecosystem", [{"image":"meera.jpg","name":"Meera Radhakrishnan", "desi":"Program Manager, NUMA Bangalore"}])
              +sched("10:45 AM", "IP Strategies", [{"image":"murug.jpg","name":"Muruganantham Senthilrajan", "desi":"COO & Patent Agent, Metayage IP Consulting"}])
              +sched("11:45 AM", "Banking And Accounting", [{"image":"lijo.jpg","name":"Lijoe Simon", "desi":"Manager, HDFC Bank"}])
              +sched("12:15 AM", "Founder Talk", [{"image":"jofin.jpg","name":"Jofin Joseph", "desi":"Full Contact Inc"}])
              +sched("16:00 AM", "Way Forward", [{"image":'tom.jpg', "name":"Tom Thomas", "desi":"Project Director, KSUM"}])
    
    
    section#gallery-section
      h1.text-center Gallery
      input#pic-1(type='checkbox')
      label.lightbox(for='pic-1')
        img(src='./img/gallery/kochi/social_1_thumb.jpg')
      input#pic-2(type='checkbox')
      label.lightbox(for='pic-2')
        img(src='./img/gallery/kochi/social_2_thumb.jpg')
      input#pic-3(type='checkbox')
      label.lightbox(for='pic-3')
        img(src='./img/gallery/kochi/social_3_thumb.jpg')
      input#pic-4(type='checkbox')
      label.lightbox(for='pic-4')
        img(src='./img/gallery/kochi/social_4_thumb.jpg')
      input#pic-5(type='checkbox')
      label.lightbox(for='pic-5')
        img(src='./img/gallery/kochi/social_5_thumb.jpg')
      input#pic-6(type='checkbox')
      label.lightbox(for='pic-6')
        img(src='./img/gallery/kochi/social_6_thumb.jpg')
      input#pic-7(type='checkbox')
      label.lightbox(for='pic-7')
        img(src='./img/gallery/kochi/social_7_thumb.jpg')
      input#pic-8(type='checkbox')
      label.lightbox(for='pic-8')
        img(src='./img/gallery/kochi/social_8_thumb.jpg')
      .grid
        label.grid-item(for='pic-1')
          img(src='./img/gallery/kochi/thumb/social_1_thumb.jpg')
        label.grid-item(for='pic-2')
          img(src='./img/gallery/kochi/thumb/social_2_thumb.jpg')
        label.grid-item(for='pic-3')
          img(src='./img/gallery/kochi/thumb/social_3_thumb.jpg')
        label.grid-item(for='pic-4')
          img(src='./img/gallery/kochi/thumb/social_4_thumb.jpg')
        label.grid-item(for='pic-5')
          img(src='./img/gallery/kochi/thumb/social_5_thumb.jpg')
        label.grid-item(for='pic-6')
          img(src='./img/gallery/kochi/thumb/social_6_thumb.jpg')
        label.grid-item(for='pic-7')
          img(src='./img/gallery/kochi/thumb/social_7_thumb.jpg')
        label.grid-item(for='pic-8')
          img(src='./img/gallery/kochi/thumb/social_8_thumb.jpg')


    //- section#speaker-section.section-content
    //-   .container
    //-     h1.pb-3.text-center Sessions & Speakers
    //-     .speaker-list
    //-       +speaker('shameela.jpg', "Shameela Nafih", "Finances for a Bootstrapped Startup", "Co-Founder & Chief Cash Officer, MEAL'D")
    //-       +speaker('anwin.jpg', "Adv. Anwin Gopakumar", "Protecting IP for Startups", "IP Attorney, Veritae Legal")
    //-       +speaker('nisha.jpg', "Nisha Krishnan", "Chat with Women Entrepreneur", "Founder, Channel I'm")
    //-       +speaker('anu.jpg', "Anu Juneo", "Insights on Marketing", "Digital marketing Expert & Founder, Contentry Solutions")
    //-       +speaker('sib.jpg', "Sony A", "Banking for Startups", "Joint General Manager, South Indian Bank")
    //-       +speaker('dp.jpg', "Viju Varghese", "Legal and Compliances for Startups", "Company Secretary")
    //-       +speaker('jijo.jpg', "Jijo Paul", "Idea to Prototype", "Founder, Resnova Technologies")
    //-       +speaker('sijo.jpg', "Sijo Kuruvilla George", "Interaction", "Founder Startup Village & Partner, Lets Venture")
    //-       +speaker('dhanaj1.png', "Dhanaj KM", "Ideation workshop", "Manager - Accelerators")
    //-       +speaker('tom.jpg', 'Tom Thomas', "About WING Program", "Project Director - KSUM")
    

    //- section.section-content
    //-   .container
    //-     .row
    //-       .col-12 
    //-         h1.text-center.pb-3 Winner of the workshop
    //-         p
    //-           strong Arunima C Rajan
    //-         p Founder,  Tiny Terrarium
    //-         p.text-justify Arunima C Rajan, founder of Tiny Terrarium, an indoor decor startup, was adjudged the Most Promising Aspiring Woman Entrepreneur of the 2-day WING workshop in Thrissur. Rajan works from home and has served over 900 orders along with supporting five retail stores in her locality of Wayanad, Kerala. She also trains people in indoor gardening and helps them find livelihood in the business of creating terrariums.



    
    
    //- section#gallery-section
    //-   h1.text-center Social Media
    //-   input#soc-1(type='checkbox')
    //-   label.lightbox(for='soc-1')
    //-     img(src='./img/social/social_1.jpg')
    //-   input#soc-2(type='checkbox')
    //-   label.lightbox(for='soc-2')
    //-     img(src='./img/social/social_2.jpg')
    //-   input#soc-4(type='checkbox')
    //-   label.lightbox(for='soc-4')
    //-     img(src='./img/social/social_4.jpg')
    //-   input#soc-5(type='checkbox')
    //-   label.lightbox(for='soc-5')
    //-     img(src='./img/social/social_5.jpg')
    //-   input#soc-7(type='checkbox')
    //-   label.lightbox(for='soc-7')
    //-     img(src='./img/social/social_7.jpg')
    //-   input#soc-3(type='checkbox')
    //-   label.lightbox(for='soc-3')
    //-     img(src='./img/social/social_3.jpg')
    //-   .grid
    //-     label.grid-item(for='soc-1')
    //-       img(src='./img/social/social_1_thumb.jpg')
    //-     label.grid-item(for='soc-2')
    //-       img(src='./img/social/social_2_thumb.jpg')
    //-     label.grid-item(for='soc-4')
    //-       img(src='./img/social/social_4_thumb.jpg')
    //-     label.grid-item(for='soc-5')
    //-       img(src='./img/social/social_5_thumb.jpg')
    //-     label.grid-item(for='soc-7')
    //-       img(src='./img/social/social_7_thumb.jpg')
    //-     label.grid-item(for='soc-3')
    //-       img(src='./img/social/social_3_thumb.jpg')
  
    //- section.section-content
    //-   .container
    //-     .row
    //-       .col-12
    //-         h1.text-center.pb-3 Participants Feedback
    //-     .row
    //-       .col-6
    //-         img.img-fluid(src="./img/feedback.png")
    //-       .col-6
    //-         img.img-fluid(src="./img/feedback_1.png")

    //- .modal.fade#bio-modal(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
    //-   .modal-dialog.modal-lg.modal-dialog-centered
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button' data-dismiss='modal' aria-label='Close')
    //-           span(aria-hidden='true') &times;
    //-       .modal-body
    //-         .row
    //-           .col-sm-3
    //-             .speaker-item
    //-               img(src='')
    //-               .descp
    //-                 h3 
    //-                 h4 
    //-           .col-sm-9.content
            
          

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/page.js")