doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/page.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    section#slider-section
      img.slide(src="./img/bg-page.png")
      .container#info-container
        .row
          .col-sm-12
            h2 Thrissur

    section.section-content#stats-section
      .container
        .row
          .col-12
            h2.text-center WING workshop for aspiring women entrepreneurs 
            h3.text-center @ Sahrdaya College of Engineering and Technology
            h4.text-center 18th and 19th October 2019
        .row
          .stats
            .cell
              .item
                div
                  h1 197
                div
                  p Interest Received
            .cell
              .item
                div
                  h1 135
                div
                  p Applications
            .cell
              .item
                div
                  h1 124
                div
                  p Attendees

    section#schedule-section.section-content
      .container
        .row
          .col-sm-12
            h1.pb-3.text-center Sessions & Speakers
        .row
          .col-sm-6
            .schedule
              h3 18th October 2019
              +sched("10:00 AM", "Interaction", [{"image": "sijo.jpg", "name":"Sijo Kuruvilla George", "desi":"Founder, Rethink Foundation"}])
              +sched("10:30 AM", "Idea to Prototype", [{"image":'jijo.jpg', "name":"Jijo Paul", "desi":"Founder, Resnova Technologies", "bio": ["Jijo Paul is a startup entrepreneur based in Kochi, Kerala. He completed his master’s in electrical engineering, and currently serves as the CEO of Resnova Technologies.", "Paul has been recognized at various national and international forums for his achievements in the areas of robotics, electronics and innovations. Being a hardcore techie, he and his company focus on solving the problems of the common man especially in agriculture and industry, with the aid of cutting-edge technology.", "Dairy management system for detecting diseases in cattle, and detection system for Red Palm Weevil infestation in coconut trees are some of his noteworthy projects.", "His main areas of interest are the Internet of Things (IoT), Technology in Agriculture, and Robotics."] }])
              +sched("11:30 AM", "Insights on Marketing", [{"image":'anu.jpg',"name":"Anu Juneo", "desi":"Digital marketing Expert & Founder, Contentry Solutions", "bio": [ "Anu Juneo – with over 8 years of expertise, first as a software developer and later as a technical writer – is the founder of Contentry Solutions, a one-of-a-kind technology services writing solutions in India.", "Unlike other content writing firms, Juneo has introduced pure technology writing for software firms and banks that involve 100% technically spawned content, API documentation, and more.", "API documentation for software firms and banks, which Juneo writes for makes it easy for freshers who are newly placed in those organisations to learn, understand, and create code. This includes API documentation for Federal bank, and blogs and articles for prominent software companies like Fingent Technologies, Suyati Technologies, and Xakbox Digital, to name a few.", "Juneo also occasionally writes for the Hindu ." ]}])
              +sched("12:30 AM", "Legal and Compliance for Startups", [{"name":"Viju Varghese", "desi":"Company Secretary", "bio": [ "Viju Vincent is a qualified Company Secretary and a member of the Institute of Company Secretaries of India (ICSI), as well as the Managing committee of Thrissur Chapter of ICSI. He, along with three other company secretaries and two chartered accountants work as partners, and are headquartered in Thrissur. They also have outposts in Palakkad, Guruvayur and Pavaratty." ]}])
              +sched("14:00 AM", "Finances for a Bootstrapped Startup", [{"image":'shameela.jpg', "name":"Shameela Nafih", "desi":"Co-Founder & Chief Cash Officer, MEAL'D", 'bio': [ "Shameela Nafih is a finance and HR professional with a Masters in Commerce and Business Administration, and an HRM Certification from the Cambridge University.", "After over 12 years of professional experience in Dubai she moved to Kerala in 2017, and resumed her career in an IT firm.", "Nafih started her entrepreneurial journey in January 2018 in Kochi, Kerala. She currently serves as the CFO & Co-founder of MEAL'D." ]}])
              +sched("15:00 AM", "Dissecting and Idea: A Workshop", [{"image":'dhanaj1.png',"name":"Dhanaj KM", "desi":"Manager - Accelerators, KSUM", "bio": ["Dhanaj is an electrical engineer by training and a development practitioner by profession, with an avid interest in travel. His passion lies in designing technological interventions and articulating developmental paradigms with a writer's touch. Lately he has been working on challenges related to bridging the disparity inherent in the various strata of the society, meanwhile learning the invaluable virtues of humility and hospitality that life in rural India invariably teaches one." ]}])
              +sched("16:00 AM", "Started Up, What Next?", [{"image":'tom.jpg', "name":"Tom Thomas", "desi":"Project Director, KSUM"}])
          .col-sm-6
            .schedule
              h3 19th October 2019
              +sched("11:00 AM", "Your First Progressive Web App and Beyond", [{"image":"siddhant.jpg","name":"Siddhant Agarwal", "desi":"Google Developer Relations"}])
              +sched("12:15 AM", "Fireside Chat: Women in Enterpreneurship", [{"image": "nisha.jpg","name":"Nisha Krishnan", "desi":"CEO, Channel I'm", "bio": [ "Founder of Channeliam.com, Nisha Krishnan is a young broadcast journalist from Kerala. Over the last 17 years in her career, she has ventured into almost all areas of television journalism including being the head of news management, being a news editor, anchoring, video production, reporting and beyond. A recipient of many awards and accolades, Krishnan has recently been selected as a participant in the Alumni Thematic International Exchange Seminar (Alumni TIES) organized by the Bureau of Educational and Cultural Affairs, US Department of State and World Learning on the topic of ‘Women in Media: Creating Networks for Social Change’, to be held at Almaty, Kazakhstan in November 2019. She is by far one of the most dedicated and popular television women journalists in South India." ] }])
              +sched("12:45 AM", "Session on Banking for Startups", [{"image":"sib.jpg", "name":"Sony A", "desi":"Joint General Manager, South Indian Bank"}])
              +sched("14:15 PM", "Protecting Intellectual Properties", [{"image":"anwin.jpg","name":"Adv Anwin Gopakumar", "desi":"IP Attorney, Veritae Legal", "bio": ["Adv Anwin Gopakumar spearheads Corporate Transactional Practice in the firm - setting up businesses in India; Intellectual Property Rights & Cyber Law - Prosecution & Enforcement; Patent Filing in the US, Europe & India as well as PCT worldwide filing; Worldwide Trademark Registration; Copyright Protection for Motion Pictures & Computer Software including mobile applications; and Copyright, Patent & Trademark Infringement claims in India."] }])

    
    
    section#gallery-section
      h1.text-center Gallery
      input#pic-1(type='checkbox')
      label.lightbox(for='pic-1')
        img(src='./img/gallery/gal_1.jpg')
      input#pic-2(type='checkbox')
      label.lightbox(for='pic-2')
        img(src='./img/gallery/gal_2.jpg')
      input#pic-3(type='checkbox')
      label.lightbox(for='pic-3')
        img(src='./img/gallery/gal_3.jpg')
      input#pic-4(type='checkbox')
      label.lightbox(for='pic-4')
        img(src='./img/gallery/gal_4.jpg')
      input#pic-5(type='checkbox')
      label.lightbox(for='pic-5')
        img(src='./img/gallery/gal_5.jpg')
      input#pic-6(type='checkbox')
      label.lightbox(for='pic-6')
        img(src='./img/gallery/gal_6.jpg')
      input#pic-7(type='checkbox')
      label.lightbox(for='pic-7')
        img(src='./img/gallery/gal_7.jpg')
      input#pic-8(type='checkbox')
      label.lightbox(for='pic-8')
        img(src='./img/gallery/gal_8.jpg')
      .grid
        label.grid-item(for='pic-1')
          img(src='./img/gallery/gal_1_thumb.jpg')
        label.grid-item(for='pic-2')
          img(src='./img/gallery/gal_2_thumb.jpg')
        label.grid-item(for='pic-3')
          img(src='./img/gallery/gal_3_thumb.jpg')
        label.grid-item(for='pic-4')
          img(src='./img/gallery/gal_4_thumb.jpg')
        label.grid-item(for='pic-5')
          img(src='./img/gallery/gal_5_thumb.jpg')
        label.grid-item(for='pic-6')
          img(src='./img/gallery/gal_6_thumb.jpg')
        label.grid-item(for='pic-7')
          img(src='./img/gallery/gal_7_thumb.jpg')
        label.grid-item(for='pic-8')
          img(src='./img/gallery/gal_8_thumb.jpg')

    
    //- section#speaker-section.section-content
    //-   .container
    //-     h1.pb-3.text-center Sessions & Speakers
    //-     .speaker-list
    //-       +speaker('shameela.jpg', "Shameela Nafih", "Finances for a Bootstrapped Startup", "Co-Founder & Chief Cash Officer, MEAL'D")
    //-       +speaker('anwin.jpg', "Adv. Anwin Gopakumar", "Protecting IP for Startups", "IP Attorney, Veritae Legal")
    //-       +speaker('nisha.jpg', "Nisha Krishnan", "Chat with Women Entrepreneur", "Founder, Channel I'm")
    //-       +speaker('anu.jpg', "Anu Juneo", "Insights on Marketing", "Digital marketing Expert & Founder, Contentry Solutions")
    //-       +speaker('sib.jpg', "Sony A", "Banking for Startups", "Joint General Manager, South Indian Bank")
    //-       +speaker('dp.jpg', "Viju Varghese", "Legal and Compliances for Startups", "Company Secretary")
    //-       +speaker('jijo.jpg', "Jijo Paul", "Idea to Prototype", "Founder, Resnova Technologies")
    //-       +speaker('sijo.jpg', "Sijo Kuruvilla George", "Interaction", "Founder Startup Village & Partner, Lets Venture")
    //-       +speaker('dhanaj1.png', "Dhanaj KM", "Ideation workshop", "Manager - Accelerators")
    //-       +speaker('tom.jpg', 'Tom Thomas', "About WING Program", "Project Director - KSUM")
    

    section.section-content
      .container
        .row
          .col-12 
            h1.text-center.pb-3 Winner of the workshop
            p
              strong Arunima C Rajan
            p Founder,  Tiny Terrarium
            p.text-justify Arunima C Rajan, founder of Tiny Terrarium, an indoor decor startup, was adjudged the Most Promising Aspiring Woman Entrepreneur of the 2-day WING workshop in Thrissur. Rajan works from home and has served over 900 orders along with supporting five retail stores in her locality of Wayanad, Kerala. She also trains people in indoor gardening and helps them find livelihood in the business of creating terrariums.



    
    
    section#gallery-section
      h1.text-center Social Media
      input#soc-1(type='checkbox')
      label.lightbox(for='soc-1')
        img(src='./img/social/social_1.jpg')
      input#soc-2(type='checkbox')
      label.lightbox(for='soc-2')
        img(src='./img/social/social_2.jpg')
      input#soc-4(type='checkbox')
      label.lightbox(for='soc-4')
        img(src='./img/social/social_4.jpg')
      input#soc-5(type='checkbox')
      label.lightbox(for='soc-5')
        img(src='./img/social/social_5.jpg')
      input#soc-7(type='checkbox')
      label.lightbox(for='soc-7')
        img(src='./img/social/social_7.jpg')
      input#soc-3(type='checkbox')
      label.lightbox(for='soc-3')
        img(src='./img/social/social_3.jpg')
      .grid
        label.grid-item(for='soc-1')
          img(src='./img/social/social_1_thumb.jpg')
        label.grid-item(for='soc-2')
          img(src='./img/social/social_2_thumb.jpg')
        label.grid-item(for='soc-4')
          img(src='./img/social/social_4_thumb.jpg')
        label.grid-item(for='soc-5')
          img(src='./img/social/social_5_thumb.jpg')
        label.grid-item(for='soc-7')
          img(src='./img/social/social_7_thumb.jpg')
        label.grid-item(for='soc-3')
          img(src='./img/social/social_3_thumb.jpg')
  
    section.section-content
      .container
        .row
          .col-12
            h1.text-center.pb-3 Participants Feedback
        .row
          .col-6
            img.img-fluid(src="./img/feedback.png")
          .col-6
            img.img-fluid(src="./img/feedback_1.png")

    .modal.fade#bio-modal(tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
      .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .row
              .col-sm-3
                .speaker-item
                  img(src='')
                  .descp
                    h3 
                    h4 
              .col-sm-9.content
            
          

    include parts/footer.pug

    script(src="./js/index.js")
    script(src="./js/page.js")