doctype html
html(lang='en')
  include parts/header.pug
  link(rel="stylesheet", href="./css/page.scss")
  body

    include parts/menu.pug
    include parts/mixins.pug

    section#slider-section
      img.slide(src="./img/bg-page.png")
      .container#info-container
        .row
          .col-sm-12
            h2 Trivandrum
    
    section.section-content
      .container
        .row
          h1 Comming Soon


    include parts/footer.pug

    script(src="./js/index.js")
    //- script(src="./js/home.js")